.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;

  /* // background: url("../../public/images/mobile.webp");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  // @media screen and (min-width: 768px) {
  //   background: url("../../public/images/tablet.webp");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  // @media screen and (min-width: 1280px) {
  //   background: url("../../public/images/desctop-webp.webp");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // } */

  
  
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #131a26;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;

  &::after {
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #1e2430;
    position: absolute;
    top: 100px;
    left: 200px;

    z-index: -1;
  }

  // &::after {
  //   content: '';
  //   width: 500px;
  //   height: 500px;
  //   border-radius: 50%;
  //   background-color: #212937;
  //   position: absolute;
   
  //   z-index: -1;
  // }

}

.background__title {
  font-size: 15vw;
  font-weight: 700;
  transform: rotate(-10deg);
  color: var(--secondary-dark-text-lgt);
}
