.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../../../public/images/bg-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 110%;
  background-color: #131a26;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.background__title {
  font-size: 15vw;
  font-weight: 700;
  transform: rotate(-10deg);
  color: var(--secondary-dark-text-lgt);
}

// .circle {
//   border-radius: 50%;
//   background-color: #1e2430;
//   position: absolute;
//   z-index: -1;
// }

// .circle__1 {
//   width: 45vw;
//   height: 45vw;
//   bottom: -2vw;
//   left: -5vw;
// }

// .circle__2 {
//   width: 33vw;
//   height: 33vw;
//   top: -3vw;
//   right: 25vw;
// }

// .circle__3 {
//   width: 23vw;
//   height: 23vw;
//   bottom: -3vw;
//   left: 45vw;
// }

// .circle__4 {
//   width: 23vw;
//   height: 23vw;
//   bottom: 10vw;
//   right: -5vw;
// }