.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../../../public/images/bg-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 110%;
  background-color: #131a26;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.background__title {
  font-size: 15vw;
  font-weight: 700;
  transform: rotate(-10deg);
  color: var(--secondary-dark-text-lgt);
}
