.container {
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding: 12px 20px 0px;
    // background-color: rgba(214, 148, 204, 0.519);
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 32px 32px 0px;
    // background-color: rgb(154, 205, 139);
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 20px;
    // background-color: rgb(189, 227, 227);
  }
}
