/* Плохо оптимизировано Происходит Flush при перезагрузке страницы */

/* @font-face {
  font-family: "Poppins-Regular";
  src: url("../../public//fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
} */

/* @font-face {
  font-family: "Poppins-Bold";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
} */

/* .title__poppins {
  font-family: "Poppins-Regular";
} */

@import "modern-normalize";
@import "./variables.css";

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: rgb(93, 94, 148);

  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

button {
  /* background-color: transparent; */
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
}

::-webkit-scrollbar-thumb {
  background-color: #1a88716b; /* bg-color скролла */
  border-radius: 10px; /* радиус скролла */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number]::-webkit-inner-spin-button {    ????????????
  -webkit-appearance: textfield;   ИЛИ  none
} */

/* input[type="number"] {
  -moz-appearance: textfield;
} */
