.desctop__nav__list {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 28px;
  font-size: var(--font-m);

  li {
    padding: 4px 0;
  }
}

.desctop__navlink {
  display: flex;
  gap: 23px;
  color: var(--nav-icon-bg);

  &.active {
    background-color: red;
  }
}

.desctop__navlink__text {
  color: var(--primary-text);

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--nav-icon-bg-active);
  }
}
