.chart__wrapper {
  position: relative;
  align-self: flex-start;
  margin-bottom: 32px;
}

.table__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.stat__title {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;

  @media screen and (min-width: 1280px) {
    margin: 32px 0 20px 20px;
  }
}
