

.section {
  // background-color: $main-color;
  background-color: var(--children-stat);
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    // background-image: ${p => p.theme.colors.gradient}, url(${p => p.bgImg});
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
  }
}

.wrapper {
  @media screen and (min-width: 1280px) {
    // display: flex;
    // justify-content: space-between;
  }
}

.sidebar {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 46px;
    padding-right: 70px;
    border-right: 1px solid rgb(231, 229, 242);
  }
}
